@import "src/scss/variables.scss";


.inventory-block{
  position: relative;
  border-radius: $border-radius;
  border-collapse: collapse;
  max-width: 527px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  .inventory-block__droppable{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $background-inventory-color;
    border: 1px solid $border-color;
    width: 105px;
    height: 100px;
  }
}