@import "variables.scss";

.main-container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  min-height: 900px;
  background: $background-color;
  gap: 24px;
}