

$border-radius: 12px;

$border-color: #4D4D4D;

$count-color: #4D4D5D;

$background-color: #1D1D1D;

$background-inventory-color: #262626;


$primary-red: #FA7272;
$primary-white: #FFF;
$primary-black: #4D4D5D;
